{% if site.copyright.size > 0 or site.legal.size > 0 or site.hydejack.advertise %}
<footer role="contentinfo">
  <hr/>
  {% if site.copyright.size > 0 %}
    <p><small class="copyright">{{ site.copyright | markdownify | replace:'<p>','' | replace:'</p>','' }}</small></p>
  {% endif %}
  {% if site.legal.size > 0 %}
    <nav class="legal"><small>
    {% for le in site.legal %}
      <a class="heading flip-title" href="{% include smart-url.txt url=le.href %}">{{ le.name | default:le.title }}</a>
      {% unless forloop.last %}{{ site.data.strings.separator | default:'|' }}{% endunless %}
    {% endfor %}
    </small></nav>
  {% endif %}
  <p><small>Made by ❤️</small> 
  <p><small><a class="external" href="https://getidea.me/posts">Posts</a> | <a class="external" href="https://getidea.me/2018-06-25-Privacy-&-Cookies-Policy.md">Privacy & Cookies</a> | </small></p>
  <hr class="sr-only"/>
</footer>
{% endif %}
